<div class="container border border-2 ">
<h2>Bienvenido {{first_name}} </h2>
<div class="user-card">
    <ul>
        <li>Firstname: {{first_name}}</li>
        <li>Email: {{email}}</li>
        <li>Role: {{role}}</li>
        <li>Cart: {{cart}}</li>
    </ul>
</div>

<div>

    <a class="btn btn-primary" href="/products">Productos</a> 
    <a class="btn btn-primary" href="/carts/{{cart}}">Ver carrito</a>
    <a class="btn btn-primary" href="/api/session/logout">Logout</a>
    <a class="btn btn-warning" onclick="changeRole('{{email}}')">Cambiar Mi Role</a>
</div>
</div>
<script>
    changeRole = (email) => {
     fetch(`/api/users/premium/${email}` , {
            method: 'get',
            headers: {
                "Content-Type": "application/json"
            }
        })
        .then(result => result.json())
        .then(result => {
            if (result.status === 'error') throw new Error(result.error)
            alert(`Cambio su Role vuelva a logerse para ver los cambios`)
            window.location.href = '/current'
        })
        .catch(err => alert(`Ocurrió un error :(\n${err}`))


    }
</script>

