<div class="container border border-2 ">
<h2>Bienvenido {{first_name}} </h2>
<div class="user-card">
    <ul>
        <li>Firstname: {{first_name}}</li>
        <li>Lastname: {{last_name}}</li>
        <li>Email: {{email}}</li>
        <li>Age: {{age}}</li>
        <li>Role: {{role}}</li>
    </ul>
</div>

<div>
    <a class="btn btn-primary" href="/products">Productos</a> <a class="btn btn-primary" href="/api/session/logout">Logout</a>
</div>
</div>