<div class="container border border-2 ">
<h2>Bienvenido {{first_name}} </h2>
<div class="user-card">
    <ul>
        <li>Firstname: {{first_name}}</li>
        <li>Email: {{email}}</li>
        <li>Role: {{role}}</li>
        <li>Cart: {{cart}}</li>
    </ul>
</div>

<div>

    <a class="btn btn-primary" href="/products">Productos</a> 
    <a class="btn btn-primary" href="/carts/{{cart}}">Ver carrito</a>
    <a class="btn btn-primary" href="/api/session/logout">Logout</a>
    <a class="btn btn-warning" href="/api/session/premium/{{_id}}">Cambiar A Premium</a>
</div>
</div>