<h2>Products from Cart with id={{cart._id}}</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>Producto</strong></td>
            <td><strong>Descripción</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Código</strong></td>
            <td><strong>Stock</strong></td>
            <td><strong>Cantidad</strong></td>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}
        <tr>
            <td>{{this.product.title}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.product.code}}</td>
            <td>{{this.product.stock}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
   
</table>

 <a class="btn btn-primary" href="/api/session/logout">Logout</a>
 <a class="btn btn-primary" href="/products"> Seguir comprando</a>
 <button class="btn btn-danger"  onclick="pay('{{cart._id}}')">Comprar Carrito</button>

 <script>
    pay = async(cid) => {
    const res = await fetch(`/api/carts/${cid}/create-checkout-session`, {
        method: 'POST'
        })
        const data = await res.json()
        console.log('data en el click', data.url)
        if (res.status !== 200) {
        console.error('Error en la respuesta del servidor:', data);
        alert('Error al crear la sesión de pago. Por favor, inténtelo nuevamente.')
        return
    }

    alert('Pronto le llegará un correo electrónico con su compra');
    window.location.href = data.url;

}
 </script>
