<div class="table-responsive container my-5">
    <H1>Bienvenido</H1> 
    <h3>{{user.first_name}} {{user.last_name}} (<a href="/current">{{user.email}}) </a></h3>
    <h3>Role: {{user.role}} </h3>
    <h3 id="cart" data-cid="{{user.cart}}">Su carrito es el: {{user.cart}}</h3>
    <a class="btn btn-primary" href="/api/session/logout">Logout</a> 
    <a class="btn btn-primary" href="/current">Perfil/Current</a>
    <a class="btn btn-primary" href="/carts/{{user.cart}}">Ver Carrito</a>
    <a class="btn btn-primary" href="/chat">Habla con un representante</a>

    <h2 class="text-center">Productos</h2>
<hr />
    <div align="center">
    {{#if paginateInfo.hasPrevPage}}
        <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
        <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
        <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}
  </div>
<hr />
    <table class="table table-bordered table-striped table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Code</th>
                <th>Category</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.stock}}</td>
                    <td><button class="btn btn-danger" onclick="addProductToCart('{{this._id}}')">Agregar al carrito</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
  addProductToCart = (pid) => {

    let cartElement = document.getElementById('cart')
    let cid = cartElement.getAttribute('data-cid')
    // console.log(cid)
    //console.log(pid)

        fetch(`/api/carts/${cid}/products/${pid}`, {
            method: 'post'
            })
            .then(result => result.json())
            .then(result => {
                if (result.status === 'error') throw new Error(result.error)
                alert(`Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`)
            })
            .catch(err => alert(`Ocurrió un error :(\n${err}`))
    }


</script>