<body>
    <h1>Ticket de Compra</h1>
    <p><strong>Comprador:</strong> {{ticket.purchaser}}</p>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Titulo</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            
            {{#each data}}
            <tr>
                
                <td>{{title}}</td>
                <td>{{precio}}</td>
                <td>{{cantidad}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="total">
        <strong>Total: {{ticket.amount}}</strong>
    </div>
    <h3>¡Gracias por tu compra! </h3>
    <h3>En unos minutos recibira un email con esta informaciòn</h3>
</body>
